$bg: #f3f3f3;
$active: #ccc;
$color: #222;
$highLight: #ddd;
$borderColor: #ddd;
.documentation {
  position: relative;
  display: grid;
  grid-template-columns: 230px auto;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  min-height: 100vh;
  * {
    outline: 0;
  }
  .overflowHidden {
    overflow: hidden;
    padding: 10px;
  }
  .react-form-data-table {
    border-radius: 5px;
    padding: 10px;
    &.light {
      border: solid 1px $highLight;
    }
  }
  .code {
    color: $color;
    line-height: 1.3;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px $highLight;
    border-radius: 5px;
    padding-left: 25px;
    li {
      padding: 5px 10px;
      word-break: break-all;
      &:first-child {
        border-top-right-radius: 5px;
      }
      &:last-child {
        border-bottom-right-radius: 5px;
      }
      &.indend {
        padding-left: 35px;
      }
      &:nth-child(even) {
        background: #eee;
      }
      &:nth-child(odd) {
        background: #f3f3f3;
      }
    }
  }
  .dropDown {
    background: $bg;
    border: solid 1px $highLight;
    height: 30px;
  }
  .infoDiv {
    display: grid;
    grid-template-columns: 59% 10% 15% 15%;
    column-gap: 3px;
    color: #aaa;
    align-items: baseline;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .infoDiv {
      grid-template-columns: 38% 10% 25% 25%;
    }
  }
  .btn {
    border: solid 1px $highLight;
    background: $bg;
    padding: 5px 10px;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    // box-shadow: 2px 2px 1px #000;
    &.active {
      font-weight: bold;
    }
  }
  .heading {
    margin: 0;
    color: $color;
    line-height: 2;
  }
  .brand {
    background: $bg;
    margin: 0;
    padding: 10px 0;
    color: $color;
    text-decoration: none;
  }
  .doc {
    background: $bg;
    margin: 0;
    padding: 10px;
    color: $color;
    border-radius: 20px;
    border: solid 1px $borderColor;
    margin: 10px;
  }
  .pre {
    border-radius: 5px;
  }
  .sideBar {
    background: $bg;
    color: $color;
    ul {
      list-style: none;
      padding: 0px;
      margin: 0;
      li {
        padding: 5px 10px;
        a {
          color: $color;
          text-decoration: none;
          font-size: 14px;
        }
        &.active {
          background: #fff;
          border-top: solid 1px $highLight; 
          border-bottom: solid 1px $highLight; 
          border-right: solid 1px transparent;
          &:after {
            border: solid 1px red;
          }
          a {
            color: #222;
          }
        }
      }
    }
  }
}
