$bg: #f3f3f3;
$color: #222;
$highLight: #ddd;
.documentation {
  display: grid;
  grid-template-columns: 230px auto;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  min-height: 100vh;
  * {
    outline: 0;
  }
  .overflowHidden {
    overflow: hidden;
  }
  .react-form-data-table {
    border-radius: 10px;
    margin: 10px;
    border: solid 1px $highLight;
  }
  .code {
    margin: 10px;
    color: $color;
    background: $bg;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px $highLight;
    border-radius: 10px;
  }
  .infoDiv {
    display: grid;
    grid-template-columns: 90% 10%;
    column-gap: 5px;
    color: #aaa;
    padding: 5px 0;
  }
  .btn {
    border: solid 1px $highLight;
    background: $bg;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
  }
  .heading {
    margin: 0;
    padding: 10px;
    color: $color;
    line-height: 2;
  }
  .brand {
    background: $bg;
    margin: 0;
    padding: 10px 0;
    color: $color;
    text-decoration: none;
  }
  .doc {
    background: $bg;
    margin: 0;
    padding: 10px;
    color: $color;
    border-radius: 20px;
    border: solid 1px #aaa;
    margin: 10px;
  }
  .pre {
    border-radius: 5px;
  }
  .sideBar {
    background: $bg;
    color: $color;
    ul {
      list-style: none;
      padding: 0px;
      margin: 0;
      li {
        padding: 5px 10px;
        a {
          color: $color;
          text-decoration: none;
          font-size: 14px;
        }
        &.active {
          background: $highLight;
          a {
            color: #222;
          }
        }
      }
    }
  }
}
// dummy