@mixin bi-grid($biGridHeadingColor, $biGridHeadingBackGroundColor, $biGridHeadingBorderColor) {
  .biGrid {
    display: grid;
    word-wrap: break-word;
    word-break: break-all;
    grid-template-columns: 80% 20%;
    @include view-mobile {
      grid-template-columns: 45% 55%;
    }
    @include view-tablet-landscape {
      grid-template-columns: 70% 30%;
    }
    @include view-tablet-potrait {
      grid-template-columns: 50% 50%;
    }
    align-items: center;
    .heading {
      color: $biGridHeadingColor;
      background: $biGridHeadingBackGroundColor;
      padding: 5px 6px;
      border-radius: 5px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: solid 1px $biGridHeadingBorderColor;
      font-size: 12px;
    }
  }
}
