@mixin footer(
  $footerLinkColor,
  $footerLinkActiveBorderColor,
  $footerLinkActiveBgColor,
  $footerSubmitBtnColor,
  $footerSubmitBtnBgColor,
  $footerSubmitBtnBorderColor
) {
  @keyframes placeHolderShimmer {
    0% {
      background-position: 0vw 0
    }
    25% {
      background-position: 7.5vw 0
    }
    50% {
      background-position: 15vw 0
    }
    75% {
      background-position: 22.5vw 0
    }
    100% {
      background-position: 30vw 0
    }
  }  
  .footer {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    .page {
      list-style-type: none;
      display: inline-flex;
      margin: 0;
      user-select: none;
      justify-content: center;
      width: 100%;
      padding-left: 0;
      li {
        color: $footerLinkColor;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        cursor: pointer;
        line-height: 40px;
        display: inline-block;
        &.active {
          background: $footerLinkActiveBgColor;
          border: solid 1px $footerLinkActiveBorderColor;
        }
        &.lt,
        &.gt {
          font-size: 16px;
          &.disabled {
            cursor: not-allowed;
            color: $disabled-grey;
          }
        }
      }
    }
    .submitBtn {
      padding: 13px 20px;
      background: $footerSubmitBtnBgColor;
      color: $footerSubmitBtnColor;
      cursor: pointer;
      font-size: 14px;
      outline: 0;
      border: solid 1px $footerSubmitBtnBorderColor;
      border-radius: 5px;
      &.active {
        animation-duration: 10s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        color: $footerSubmitBtnColor;
        background: linear-gradient(
          to right,
          $footerSubmitBtnBgColor 8%,
          $footerSubmitBtnBorderColor 40%,
          $footerSubmitBtnBgColor 33%
        );
        position: relative;
      }
    }
  }
}
