@mixin group-input(
  $groupInputColor,
  $groupInputBgColor,
  $groupInputBorderColor,
  $groupInputDropDownOdd,
  $groupInputDropDownEven
) {
  .group-input {
    display: grid;
    grid-template-columns: 65% 35%;
    font-size: 12px;
    user-select: none;
    position: relative;
    padding-left: 5px;
    @include view-tablet-landscape {
      grid-template-columns: 70% 30%;
    }
    @include view-tablet-potrait {
      grid-template-columns: 70% 30%;
    }
    @include view-mobile {
      grid-template-columns: 65% 35%;
    }
    .inputWrapper {
      position: relative;
      .join-input {
        padding: 0 25px 0 10px;
        z-index: 1;
        height: $search-container-height;
        outline: 0;
        border: solid 1px $groupInputBorderColor;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        font-size: 14px;
        color: $groupInputColor;
        background: $groupInputBgColor;
        -webkit-appearance: none;
        width: 100%;
        border-right: 0;
      }
      .dismiss {
        position: absolute;
        top: 8px;
        right: 0;
        color: $light-grey;
        font-size: 15px;
        cursor: pointer;
        &:hover {
          color: $disabled-grey;
        }
      }
    }
    .join-select {
      position: relative;
      width: 100%;
      .selected {
        background: $groupInputBgColor;
        padding: 10px;
        cursor: pointer;
        position: relative;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;
        color: $groupInputColor;
        border: solid 1px $groupInputBorderColor;
        .icon {
          float: right;
          position: relative;
          color: $groupInputColor;
          line-height: 1;
          &.up {
            top: -2px;
          }
        }
      }
      ul {
        list-style-type: none;
        padding-left: 0px;
        font-size: 12px;
        position: absolute;
        width: inherit;
        z-index: 1;
        margin-top: 0;
        border-top: 0;
        li {
          cursor: pointer;
          padding: 5px 12px;
          line-height: 2;
          color: $groupInputColor;
          &:nth-child(even) {
            background: $groupInputDropDownEven;
          }
          &:nth-child(odd) {
            background: $groupInputDropDownOdd;
          }
          &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
      }
    }
  }
}
