$fluorescent-color: #c2d82e;
$success: #40bd40;
$error: #f33333;
$warning: #f15f05;
$black: #000;
$black-1: #111111;
$black-2: #222222;
$black-3: #333333;
$black-4: #444444;
$black-5: #555555;
$black-6: #666666;
$black-7: #777777;
$black-8: #888888;
$black-9: #999999;
$light-black: #222;
$white: #fff;
$light-white: #dddddd;
$dim-white: #eeeeee;
$disabled-grey: #696969;
$light-grey: #aaaaaa;
$search-container-height: 36px;
$row-odd: #dddddd;
$row-even: #eeeeee;